<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacotes de Viagem</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Pacotes de Viagem</h1>
        <% if (!autenticado) { %>
            <a href="/login">Login</a>
        <% } else { %>
            <a href="/painel-pacotes">Acessar Painel</a>
            <a href="/logout">Logout</a> <!-- Link de logout -->
        <% } %>
    </header>
    
    <div class="pacotes">
        <% pacotes.forEach(function(pacote) { %>
            <div class="pacote">
                <h2><%= pacote.nome %></h2>
                <p>Destino: <%= pacote.destino %></p>
                <p>Data de Partida: <%= pacote.dataPartida %></p>
                <p>Preço: R$ <%= pacote.preco %></p>
                <a href="/pacote/<%= pacote.id %>" style="color: green;">Ver Detalhes</a>
            </div>
        <% }); %>
    </div>
</body>
</html>
